div.pagetitle {
	margin:20 40;
	font-family:fantasy;
	font-size:xx-large;
}
table.groups {
	border-bottom:1 solid;
	margin-bottom:20;
}
table.groups a:link {
	color:#445E96;
}
table.groups a:visited {
	color:#774496;
}
a.group { }
span.selected {
	font-weight:bold;
	background-color:lightgray;
	padding:0px 5px;
	border:1px dotted;
}
td.recordlist {
	vertical-align:top;
	padding-right:20;
}
div.indexmode {
	text-align: center;
	margin: 20px 0;
}
div.indexrecordlist {
	text-align:left;
	-webkit-column-count:3;
	   -moz-column-count:3;
	        column-count:3;
}
div.pagelist {
	text-align: center;
	margin: 20px 100px;
}
a.pagelink {
	
}
a.link {
    color:#445E96;
}
span.pseudolink {
	border-bottom:1px dotted;
	cursor:pointer;
	color:#445E96;
}
s.smalllink {
	font-size: small;
}
span.star1 { }
span.star1:after {
	content:"*";
	vertical-align:super;
	font-size:smaller;
}
span.star2 { }
span.star2:after {
	content:"**";
	vertical-align:super;
	font-size:smaller;
}
span.star3 {
	font-weight:bold;
}
span.star3:after {
	content:"***";
	vertical-align:super;
	font-size:smaller;
}
div.record {
	margin:10 10;
	padding:20 20;
	-webkit-border-radius:10;
	   -moz-border-radius:10;
			border-radius:10;	
	border:solid 2px #CC9999;
}
div.recordtitle {
	font-size:x-large;
	font-family: "Arial Black", sans-serif;
	margin:10;
}
div.recorddate {
	font-style:italic;
	padding:0 15;
}
div.recordtext {
}
div.note_link {
	margin: 10px;
	text-align: right;
	font-size: small;
	font-family: sans-serif;
}
div.note_link a{
	color: #888;
}
div.comment {
	margin:10 0 10 100;
}

table.form_table {
    
}
td.form_left {
    text-align: right;
}
td.form_right {
    text-align: left;
}
td.form_comment {
    color: #444;
    font-style: italic;
}
td.form_final {
	padding-top: 0.5em;
	text-align: right;
}