a.group { }
a.activegroup {
	font-weight:bold;
	background-color:white;
	padding:0px 5px;
	border:1px dotted #806080;
}
td.recordlist {
	background-color:#D4FFD4;
	vertical-align:top;
}
span.pseudolink {
	border-bottom:1px dotted;
	cursor:pointer;
	color:navy;
}
span.star1 { }
span.star1:after {
	content:"*";
	vertical-align:super;
	font-size:smaller;
}
span.star2 { }
span.star2:after {
	content:"**";
	vertical-align:super;
	font-size:smaller;
}
span.star3 {
	font-weight:bold;
}
span.star3:after {
	content:"***";
	vertical-align:super;
	font-size:smaller;
}

